{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css')}}">{% endblock %}

{% block content %}
	<div class="container">
		<div class="top-part">
			<div class="search-part">
				<p class="simplify-text">Short your URL with one click</p>
				<p class="last-text">All the Shorted URL and their analytics are private</p>
				<div class="search">
					<form method="post" action="/add-links">
						<input type="text" name="url" class="search-box">
						<input type="submit" value="Shorten URL" class="search-button">
					</form>
				</div>
			</div>
		</div>
		<div class="divider">
			<div class="result-count">
				{{count[0]}} links | {{count[1]}} remaining
			</div>
			<div class="sort-by">
				<span>sort by </span>
				<select>
					<option>All</option>
					<option>Most visited</option>
					<option>Protected</option>
					<option>unprotected</option>
					<option>Time (asc)</option>
					<option>Time (dsc)</option>
				</select>
			</div>
			<div class="download-csv">
				download csv file
			</div>
		</div>
		<div class="result-part">
			<div class="results">
				<div class="headers">
					<span class="index">Index</span>
					<span class="shorted-url">Shorted url</span>
					<span  class="main-url">Original url</span>
					<span class="created">Created</span>
					<span class="visited">Visited</span>
					<span class="protected">Protected</span>
					<span class="delete">Delete</span>
				</div>
				{% for i in data %}
				<div class="headers">
					<span class="index">{{loop.index}}</span>
					<span class="shorted-url">
						<a href="http://{{i[4]}}" style="text-decoration: none; color: white;">{{i[4]}}</a>
					</span>
					<span  class="main-url">
						<a href="{{i[3]}}" style="text-decoration: none; color: white;">{{i[3]}}</a>
					</span>
					<span class="created">jfaklj</span>
					<span class="visited">{{i[2]}}</span>
					<span class="protected">{{i[5]}}</span>
					<span class="delete">
						<a href="/delete-link/{{i[0]}}" class="delete-link">Delete</a>
					</span>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}