{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">{% endblock %}

{% block content %}
	<div class="main-part">
		<div class="texts">
			<p class="big-text">Short links by one click</p>
			<ul class="features">
				<li><i class="fa fa-check" aria-hidden="true"></i> No service charge</li>
				<li><i class="fa fa-check" aria-hidden="true"></i> Up to 5000 links</li>
				<li><i class="fa fa-check" aria-hidden="true"></i> Password protected links</li>
				<li><i class="fa fa-check" aria-hidden="true"></i> No expiration time</li>
				<li><i class="fa fa-check" aria-hidden="true"></i> Ads free</li>
			</ul>
			<div class="started">
			<a href="signup.html">Get started</a>
		</div>
		</div>
	</div>
{% endblock %}
