{% extends 'base.html' %}
{% block css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">{% endblock %}

{% block content %}
	<div class="container">
		<div class="frame">
			<div class="header">
				<p class="admin">Account Login</p>
			</div>
			<form method="post" action="/login">
				<label>Email / Phone</label>
				<input type="text" name="email" required>
				<label>Password<label>
				<input type="password" name="password" required>
				<div class="login">
					<button type="submit">Login</button>
				</div>
				<div class="forgot">
					<a href="#">Forgot password</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}